<section class="main-section">
  <ul class="cards-list">
    <!-- <li class="card">
      <img src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB" alt="trasera de la carta"/>
    </li>
    <li class="card">
      <img
        src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB"
        alt="trasera de la carta"
      />
    </li>
    <li class="card">
      <img
        src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB"
        alt="trasera de la carta"
      />
    </li>
    <li class="card">
      <img
        src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB"
        alt="trasera de la carta"
      />
    </li> -->
    
    
    
  </ul>
</section>
