<main class="page__main">
  
  <h1 class="main-title">El juego de las parejas</h1>

  <form action="" method="get" class="select-form">
    <label for="option4" class="select-form__label">
      <div class="select__option-container">
        <input
          id="option4"
          type="radio"
          name="option4"
          value="4"
          class="select__option"
          checked
        />
      </div>
      4
    </label>
    <label for="option6" class="select-form__label">
      <div class="select__option-container">
        <input
          id="option6"
          type="radio"
          name="option6"
          value="6"
          class="select__option"
        />
      </div>
      6
    </label>
    <label for="option8" class="select-form__label">
      <div class="select__option-container">
        <input
          id="option8"
          type="radio"
          name="option8"
          value="8"
          class="select__option"
        />
      </div>
      8
    </label>

    <button class="btn" type="button">Comenzar</button>
  </form>
  <partial src="_cards.html" label="cards"></partial>
</main>
