<main class="page__main">
  <h1 class="main-title">El juego de las parejas</h1>

  <form action="" method="get" class="select-form">
    <label for="option4" class="select-form__label">
      <input id="option4" type="radio" name="option4" />
      4
    </label>
    <label for="option6" class="select-form__label">
      <input id="option6" type="radio" name="option4" />
      6
    </label>
    <label for="option8" class="select-form__label">
      <input id="option8" type="radio" name="option4" />
      8
    </label>
    <button class="btn">Comenzar</button>
  </form>
</main>
