.main-section {
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 767px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.card {
  list-style: none;
  height: 195px;
  border: grey solid 2px;
  border-radius: 10%;
  margin: 5px;
}
.back-image, .front-image {
  height: 195px;
  width: 160px;
  border-radius: 10%;
}
.hidden {
  display: none;
}