// * {
//   border: blue solid 1px;
// }
.main-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.select-form {
  display: flex;
  justify-content: center;
}
.select-form__label {
  margin-left: 20px;
  display: flex;
}
.select__option-container {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid grey;
  border-radius: 50%;
}
.select__option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: content-box;
  border: white solid;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}
.check {
  background-color: rgb(0, 204, 255);
}
.btn {
  margin-left: 20px;
  background-color: #fff;
  border: rgb(4, 186, 231) 2px solid;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
